<h1>Create new ticket</h1>

<%= form_for([@project, @ticket]) do |f| %>
  <% @ticket.errors.full_messages.each do |e| %>
    <%= e %>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit %>

<% end %>
