<%= @ticket.title %>
<span><%= "Created by #{@ticket.user.email}" unless @ticket.user.nil? %> </span>
<%= simple_format @ticket.description %>

<% if @ticket.assets.present? %>
  Attached files
  <% @ticket.assets.each do |asset| %>
    <%= link_to File.basename(asset.asset.path), file_path(asset) %>

    <%= number_to_human_size asset.asset.size %>
  <% end %>

<% end %>

<% authorize?('edit tickets', @project) do %>
  <%= link_to 'Edit Ticket', edit_project_ticket_path(@project, @ticket) %>
  <!--  or <%= link_to "Edit Ticket", [:edit, @project, @ticket] %> -->
<% end %>

<% authorize?('delete tickets', @project) do %>
  <%= link_to 'Delete Ticket', project_ticket_path(@project, @ticket), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if @ticket.comments.exists? %>
  <%= render @ticket.comments.select(&:persisted?) %>
<% else %>
  There are no comments for this ticket.
<% end %>
<%= render 'comments/form' %>
