<%= @ticket.title %>
<%= @ticket.description %>
<span><%= "Created by #{@ticket.user.email}" unless @ticket.user.nil? %> </span>

<%= link_to 'Edit Ticket', edit_project_ticket_path(@project, @ticket) %>
<!--  or <%= link_to "Edit Ticket", [:edit, @project, @ticket] %> -->

<%= link_to 'Delete Ticket', project_ticket_path(@project, @ticket), method: :delete, data: { confirm: 'Are you sure?' } %>
