<%= title(@project.name, 'Projects') %>

<% admins_only do %>
  <%= link_to 'Edit Project', edit_project_path(@project) %>
  <%= link_to 'Delete project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'New ticket', new_project_ticket_path(@project)  %>

<ul>
  <% @project.tickets.each do |ticket| %>
    <li>
      <%= link_to ticket.title, [@project, ticket] %>
    </li>
  <% end %>
</ul>
